body {
  font-size: 14px;
  line-height: 21px;
  color: #333333;
  font-weight: normal;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

h1 {
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

h2 {
  font-size: 21px;
  line-height: 26px;
  color: #333333;
  font-weight: bold;
  font-family: 'PT Sans', 'Arial', sans-serif;
}

body {
  background-color: black;
  padding: 0;
  margin: 0;
  text-transform: uppercase;
}

.wrapper {
  min-width: 768px;
  max-width: 1200px;
  background-color: white;
  margin: 0 auto;
}

.main-header {
  min-height: 56px;
  background-color: red;
  outline: 3px solid #ec2fea;
}

.container {
  width: 100%;
  margin: 0 auto;
}

.main-navigation {
  width: 100%;
  color: #435378;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.main-navigation-list {
  padding-left: 0px;
  font-size: 0px;
}

.main-navigation-item {
  display: inline-block;
  font-size: 16px;
  width: 20%;
  text-align: center;
  line-height: 26px;
  background: yellow;
  padding-top: 15px;
  padding-bottom: 15px;
  vertical-align: center;
}

.main-navigation-item:nth-child(2) {
  margin-right: 20%;
}

.logo {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  height: 70px;
}

.container-welcome {
  margin: 0px auto;
  padding-top: 76px;
  padding-bottom: 80px;
  margin-bottom: 62px;
  text-align: center;
}

.container-welcome img {
  outline: 3px solid #00ff0c;
}

.container-intro {
  /*outline: 3px solid #00ff0c;*/
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  margin-bottom: 60px;
}

.container-intro h1 {
  margin-top: 0px;
}

.container-intro p {
  margin-top: 0px;
}

.reasons-block {
  width: 100%;
/*  outline: 3px solid #945f53;*/
  margin-bottom: 62px;
}

.reason-blue {
  float: left;
  width: 33.33333%;
  outline: 3px solid #56d353;
  background-color: black;
  padding: 0px;
}

.reason-image {
  float: right;
  width: 66.66666%;
  outline: 3px solid #94d353;
  background-color: yellow;
  margin: 0;
  padding: 0;
}

.features-block {
  width: 100%;
  margin-bottom: 80px;
  background-color: #900045;
  /*font-size: 0px;*/
}

.feature {
  padding: 50px 55px;
  float: left;
  width: 33.3333333%;
  outline: 3px solid #990753;
  text-align: center;
  box-sizing: border-box;
}

.reasons-list .reason {
  float: left;
  width: 33.333333%;
  text-align: center;
  outline: 3px solid #990753;
  white-space: normal;
}

.container-booking {
  width: 100%;
  text-align: center;
  padding-top: 57px;
}

.container-booking b {
  line-height: 24px;
  font-size: 30px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  margin-top: 0px;
}

.container-booking p {
  margin-top: 0px;
  padding-top: 26px;
}

.btn-search {
  display: block;
  background-color: red;
  width: 570px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 21px;
  margin-top: 50px;
}

.search-form {
  position: absolute;
  width: 570px;
  left: 50%;
  transform: translateX(-50%);
  /*background-color: white;*/
}

.check-in {
  padding: 30px 55px;
  margin: 0px;
}

/*не встает на одной ввериимкальной линии с верхним и нижним блоком*/

.check-out {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 30px;
  margin: 0px;
  box-sizing: border-box;
}

.date {
  border: 0px;
  width: 345px;
  height: 38px;
  margin-left: 20px;
}

.amount-wrapper {
  padding-left: 55px;
  padding-right: 55px;
  padding-bottom: 55px;
}

.adult-amount {
  float: left;
  margin: 0px;
  padding: 0px;
  border: 0px;
  width: 225px;
  outline: 3px solid orange;
}

.child-amount {
  float: right;
  padding: 0px;
  margin: 0px;
  border: 0px;
  width: 225px;
  outline: 3px solid orange;
}

/*как подпись разместить по центру вертикально?*/

.adult-amount label {
  float: left;
  outline: 3px solid red;
}

.child-amount label {
  float: left;
  outline: 3px solid blue;
  padding-left: 50px;
}

.amount-counter {
  float: right;
  width: 114px;
  outline: 3px solid yellow;
}

.amount-counter .item-minus {
  width: 38px;
  height: 38px;
  float: left;
}

.amount-counter .amount-number {
  float: left;
  width: 38px;
  padding-right: 0px;
  border: 0px;
  height: 38px;
}

.amount-counter .item-plus {
  width: 38px;
  float: left;
  height: 38px;
}

.action input {
  display: block;
  background-color: red;
  width: 458px;
  margin: 0 auto;
  text-transform: uppercase;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

/*страница hotels*/

.filter-form {
  width: 100%;
  padding-left: calc(72/1200*100%);
  padding-right: calc(72/1200*100%);
  margin: 0px;
  padding-top: 25px;
  box-sizing: border-box;
}

.filter-item {
  width: 240px;
  float: left;
  height: 217px;
}

.rangeslider {
  float: right;
  width: 25%;
}

.filter-item label {
  display: block;
}

.sort-header {
  width: 100%;
  padding-top: 33px;
  padding-bottom: 33px;
  padding-left: calc(72/1200*100%);
  padding-right: calc(72/1200*100%);
  box-sizing: border-box;
}

.sort-header h1 {
  float: left;
  width: 136px;
  font-size: 21px;
  margin: 0px;
  /*text-align: center;*/
  outline: 3px solid blue;
}

.sorting {
  float: left;
  width: calc(650/1200*100%);
  margin-left: calc(30/1200*100%);
  outline: 3px solid red;
}

.sort-list {
  display: inline-block;
  font-size: 0px;
  padding-left: 40px;
}

.sort-list li {
  display: inline-block;
  font-size: 12px;
  line-height: 18px;
  margin-right: 35px;
}

.sort-direction {
  float: right;
  width: 40px;
  outline: 3px solid #990753;
}

.hotel {
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: calc(72/1200*100%);
  padding-right: calc(72/1200*100%);
  box-sizing: border-box;
}

.hotel figure {
  float: left;
  width: 33%;
  height: 90px;
  background-color: blue;
  margin: 0px;
  width: 135px;
}

.hotel .hotel-info {
  float: left;
  width: 40%;
  margin: 0px;
  padding-left: 30px;
}

.hotel h2 {
  margin: 0px 0px 8px;
  border: 0px;
  font-size: 21px;
  line-height: 26px;
}

.hotel-info-wrapper {
  font-size: 0px;
}

.info-left {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  margin-right: 6px;
  vertical-align: top;
}

.info-right {
  display: inline-block;
  font-size: 14px;
  line-height: 21px;
  vertical-align: top;
}

.btn-book, .btn-more {
  padding: 6px 17px;
  background-color: #81b3d2;
  /*margin-top: 17px;*/
}

.info-left span {
  display: block;
  margin-bottom: 10px;
}

.info-right span {
  display: block;
  margin-bottom: 10px;
}
.hotel .hotel-rating {
  float: right;
  background-color: green;
}

/*спросить про карту под футером*/
.main-footer {
  position: relative;
}

.main-footer .container {
  position: absolute;
  bottom: 0px;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  padding-bottom: 23px;
}

.footer-hashtag {
  width: 33%;
  float: left;
}

.footer-social {
  width: 33%;
  float: left;
}

.footer-copyright {
  width: 33%;
  float: right;
}

.hotels-footer {
  /*position: absolute;*/
  /*bottom: 0px;*/
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  text-align: center;
  padding-bottom: 23px;
}
